<h1>Add Product</h1>

<form action="/admin/products" method="POST">
  <input name="name" placeholder="Name" required>
  <input name="price" placeholder="Price" required>
  <button>Add</button>
</form>
