<h1>Products</h1>

<a href="/admin/products/new">Add New Product</a>

<ul>
  <% products.forEach(p => { %>
    <li>
      <%= p.name %> - Rs <%= p.price %>

      <a href="/admin/products/<%= p._id %>/edit">Edit</a>

      <form action="/admin/products/<%= p._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>

<a href="/admin">Back to Dashboard</a>
